@page "/"
@using DiskUsage
@inject IJSRuntime jsruntime;
@implements IProgressUpdater

@* <Highchart Json="@chartjson" /> *@

<DirectoryChooser @ref="_directoryChooser" OnValueChanged="@OnDirChanged" />
<ProgressBar @ref="_progressBar" />
<div id="container"></div>

@code{
    private DirectoryChooser _directoryChooser;
    private ProgressBar _progressBar;
    
    private DiskItem _diskItem;

    private string Progress = "0%";

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await jsruntime.InvokeVoidAsync("drawPie");
        await base.OnAfterRenderAsync(firstRender);
    }

    private void OnDirChanged(string path)
    {
        _diskItem = new DiskItem(path, this);
        _diskItem.FillSize();
    }

    public void Update()
    {
        var val = _diskItem.Progress * 100;
        Progress = $"{val:F1}%";
        Console.WriteLine($"{_diskItem.IsFilled} {Progress}");
        _progressBar.Progress = _diskItem.Progress;
    }

}