@inject Microsoft.JSInterop.IJSRuntime jsruntime;

<div id="@id.ToString()"></div>

@code
{
    [Parameter] public string Json { get; set; }
    private string id { get; set; } = "Highchart" + Guid.NewGuid().ToString();


    protected override void OnParametersSet()
    {
        Console.WriteLine("Component.Highchart.OnParametersSet");
        StateHasChanged();
        base.OnParametersSet();
    }
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        Console.WriteLine($"Component.Highchart.OnAfterRenderAsync({firstRender}) => \n\t{id} \n\t{Json}");
        
        if (!string.IsNullOrEmpty(Json))
        {
            Console.WriteLine(" =====> jsruntime.InvokeVoidAsync");
            await jsruntime.InvokeVoidAsync("loadHighchart", new object[] { id, Json });
            Console.WriteLine(" <===== jsruntime.InvokeVoidAsync");
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}
