@using DiskUsage
@using DaisyDiskImitate.Data
@using System.IO
@using Newtonsoft.Json
@inject IJSRuntime jsruntime;

<div id="@id" class="pie-container"></div>

@code
{
    private string id { get; set; } = "Highchart" + Guid.NewGuid();
    private DiskItem Data { get; set; }
    private DotNetObjectReference<Highchart> _objRef;
    
    protected override void OnParametersSet()
    {
        //Console.WriteLine("Component.Highchart.OnParametersSet");
        StateHasChanged();
        base.OnParametersSet();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _objRef?.Dispose();
        _objRef = DotNetObjectReference.Create(this);
        await jsruntime.InvokeAsync<string>("registerCsObj", _objRef);
        await base.OnAfterRenderAsync(firstRender);
    }

    public void Dispose()
    {
        _objRef?.Dispose();
    }
    
    public async void SetData(DiskItem data)
    {
        Data = data;
        if (Data == null) return;

        var json = ConvertJson(Data);
        // Console.WriteLine(json);
        await jsruntime.InvokeVoidAsync("drawPie", id, json);
        await InvokeAsync(StateHasChanged);
    }
    
    private string ConvertJson(DiskItem data)
    {
        var jo = new PieData
        {
            title = data.FullPath,
            totalSize = data.HumanReadableSize,
            data = new List<PieDataItem>()
        };

        var other = new PieDataItem
        {
            name = "Others",
            children = new List<PieDataItem>(),
            y = 1,
        };
        
        var percent = 0;
        foreach (var child in data.Children.OrderByDescending(o => o.Size)
                                                   .ThenBy(o => o.Type)
                                                   .ThenBy(o => o.FullPath))
        {
            if (child.Size <= 0) continue;
            
            var name = Path.GetFileName(child.FullPath);
            var item = new PieDataItem
            {
                name = $"{name} ({child.HumanReadableSize})",
                y = (int)Math.Round((double) child.Size / data.Size * 10000, 0)
            };
            
            if (percent >= 9500)
            {
                if(item.y <= float.Epsilon) item.y = 10;
                other.size += child.Size;
                other.children.Add(item);
                other.name = $"Others ({DiskItem.ToHumanReadable(other.size)})";
                continue;
            }
            percent += item.y;
            
            if (child.Type == FileType.Directory)
            {
                item.children = new List<PieDataItem>();
                var subPercent = 0f;
                var subOther = new PieDataItem
                {
                    name = $"{name}/Others",
                    y = 1,
                };
                foreach (var subChild in child.Children.OrderByDescending(o => o.Size)
                                                               .ThenBy(o => o.Type)
                                                               .ThenBy(o => o.FullPath))
                {
                    if (subChild.Size <= 0) continue;
                    
                    var subName = $"{name}/{Path.GetFileName(subChild.FullPath)}";
                    subName = subName.Replace("\r", "")
                                     .Replace("\n", "");
                    
                    
                    var subItem = new PieDataItem
                    {
                        name = $"{subName} ({subChild.HumanReadableSize})",
                        y = (int)Math.Round((double) subChild.Size / data.Size * 10000, 0)
                    };

                    if (subPercent >= item.y * 0.95f) // || item.children.Count >= 10)
                    {
                        subOther.size += subChild.Size;
                        subOther.name = $"{name}/Others ({DiskItem.ToHumanReadable(subOther.size)})";
                        continue;
                    }
                    subPercent += subItem.y;

                    item.children.Add(subItem);
                }

                if (subOther.size > 0)
                {
                    subOther.y = item.y - item.children.Sum(o => o.y);
                    item.children.Add(subOther);
                }
            }
            
            jo.data.Add(item);
        }

        if (other.children.Any())
        {
            other.y = 10000 - jo.data.Sum(o => o.y);
            jo.data.Add(other);
        }

        return JsonConvert.SerializeObject(jo);
    }
    
    [JSInvokable]
    public Task<string> Alert(string val)
    {
        return Task.FromResult($"CS: {val}");
    }
}
