@using DiskUsage
@using DaisyDiskImitate.Data
@using System.IO
@using Newtonsoft.Json
@inject IJSRuntime jsruntime;

<div id="@id"></div>

@code
{
    private string id { get; set; } = "Highchart" + Guid.NewGuid();
    
    public DiskItem Data { get; set; }
    
    protected override void OnParametersSet()
    {
        //Console.WriteLine("Component.Highchart.OnParametersSet");
        StateHasChanged();
        base.OnParametersSet();
    }
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        // SetData(Data);
        await base.OnAfterRenderAsync(firstRender);
    }

    public async void SetData(DiskItem data)
    {
        Data = data;
        if (Data == null) return;

        var json = ConvertJson(Data);
        Console.WriteLine(json);
        await jsruntime.InvokeVoidAsync("drawPie", id, json);
        await InvokeAsync(StateHasChanged);
    }
    
    private string ConvertJson(DiskItem data)
    {
        var jo = new PieData
        {
            title = data.FullPath,
            totalSize = data.HumanReadableSize,
            data = new List<PieDataItem>()
        };

        var other = new PieDataItem
        {
            name = "Others",
            children = new List<PieDataItem>(),
            y = 1f,
        };
        
        var percent = 0f;
        foreach (var child in data.Children.OrderByDescending(o => o.Size)
                                                   .ThenBy(o => o.Type)
                                                   .ThenBy(o => o.FullPath))
        {
            if (child.Size <= 0) continue;
            
            var name = Path.GetFileName(child.FullPath);
            var item = new PieDataItem
            {
                name = $"{name} ({child.HumanReadableSize})",
                y = (float)Math.Round((double) child.Size / data.Size * 100, 1)
            };
            
            if (percent >= 95f)
            {
                if(item.y <= float.Epsilon) item.y = 0.1f;
                other.size += child.Size;
                other.children.Add(item);
                other.name = $"Others ({DiskItem.ToHumanReadable(other.size)})";
                other.y = (float) Math.Round((double) other.size / data.Size * 100, 1);
                if (other.y < 1f) other.y = 1f;
                continue;
            }
            percent += item.y;
            
            if (child.Type == FileType.Directory)
            {
                item.children = new List<PieDataItem>();
                var subPercent = 0f;
                var subOther = new PieDataItem
                {
                    name = "Others",
                    y = 1f,
                };
                foreach (var subChild in child.Children.OrderByDescending(o => o.Size)
                                                               .ThenBy(o => o.Type)
                                                               .ThenBy(o => o.FullPath))
                {
                    if (subChild.Size <= 0) continue;
                    
                    var subName = $"{name}/{Path.GetFileName(subChild.FullPath)}";
                    subName = subName.Replace("\r", "")
                                     .Replace("\n", "");
                    
                    
                    var subItem = new PieDataItem
                    {
                        name = $"{subName} ({subChild.HumanReadableSize})",
                        y = (float)Math.Round((double) subChild.Size / data.Size * 100, 1)
                    };

                    if (subPercent >= item.y * 0.95f) // || item.children.Count >= 10)
                    {
                        subOther.size += subChild.Size;
                        subOther.name = $"Others ({DiskItem.ToHumanReadable(subOther.size)})";
                        subOther.y = (float) Math.Round((double) subOther.size / data.Size * 100, 1);
                        if (subOther.y < 1f) subOther.y = 1f;
                        continue;
                    }
                    subPercent += subItem.y;

                    item.children.Add(subItem);
                }

                if (subOther.size > 0)
                {
                    item.children.Add(subOther);
                }
            }
            
            jo.data.Add(item);
        }

        if (other.children.Any())
        {
            jo.data.Add(other);
        }

        return JsonConvert.SerializeObject(jo);
    }
}
