@inject IJSRuntime jsruntime;

<div id="@id"></div>

@code
{
    [Parameter] public string Json { get; set; }
    private string id { get; set; } = "Highchart" + Guid.NewGuid();


    protected override void OnParametersSet()
    {
        //Console.WriteLine("Component.Highchart.OnParametersSet");
        StateHasChanged();
        base.OnParametersSet();
    }
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (!string.IsNullOrEmpty(Json))
        {
            await jsruntime.InvokeVoidAsync("loadHighchart", id, Json);
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}
